*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
   
}





#container {
    height:550px; 
    position:relative; 
    overflow:hidden;
  }
  
  .photobanner {
    position:absolute; 
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    
  }
  
  .photobanner img {   
      width: 450px; 
    margin: 0 0em ;
    animation: bannermove 10s linear infinite;   
    
  }
  
   @keyframes bannermove {
    0% {
       
        transform: translate(00px, 0);
    }
    50%{}
    
    100% {
        transform: translate(-4100px, 0);
    }
  } 