*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
   
}





#container {
    height:550px; 
    position:relative; 
    overflow:hidden;
  }
  
  .photobanner {
    position:absolute; 
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    animation: bannermove 10s linear infinite;
  }
  
  .photobanner img {    
    margin: 0 0em 
  }
  
  @keyframes bannermove {
    0% {
       
        transform: translate(0, 0);
    }
    5%{
        transform: translate(0,0);
    }
    100% {
        transform: translate(-100%, 0);
    }
  }